body {
    background-image: url("./Images/bg-img.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.logo img {
    height: 50px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    color: #fff;
    text-decoration: none;

}

.heading {
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #d4cfeb;
    text-transform: uppercase;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 400px;
    margin-top: 50px;
    border-radius: 30px;
}
#generate-button:hover{
    background-color: #dd5c5c;
    height: 50px;
    width: 250px;
    font-size: large;
} 
#generate-button {
    height: 50px;
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #a0529d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
    height: 60px;
    width: 210px;
}

.ul:hover {
    background-color: rgb(181, 88, 103);
}

.ul {
    font-size: 15px;
}

/*----js----------*/
.path {

    margin-bottom: 20px;
    height: 60px;
    display: flex;
   
}
#image-path {
    height: 40px;
    width: 700px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-left: 400px;
    margin-top: 80px;
}
.copy-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    width: 40px;
    padding: 6px;
    margin-left:5px;
    margin-top: 80px;
}